@{
    ViewBag.Title = "Contact";
}

<br />
<br />


<div class="container2in1">
    <div class="jumbotron">
        <h4>For any tecnical issues, please don't hesitate to reach us via our support email!</h4>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@fitnesskopje.com</a><br />

        </address>

        <br />
        <br />
        <br />
       


        <h4>For any marketing related proposals, feel free to use our marketing email!</h4>

        <address>
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@fitnesskopje.com</a>
        </address>



    </div>
    <div>
        <img class="pic1" src="~/Images/pic2.png" />
    </div>
</div>
