@{
    ViewBag.Title = "Contact";
}

<br />
<br />

<h4>For any tecnical issues, please don't hesitate to reach us via our support email!</h4>
<h4>For any marketing related proposals, feel free to use our marketing email!</h4>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@fitesskopje.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@fitnesskopje.com</a>
</address>