@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>

<div class="container2in1">
    <div class="jumbotron">
        <h1>
            Најди го најдобриот фитнес центар за тебе!
        </h1>
        <p>
            Целта на оваа веб-апликација е да ги поттикне сите почетници за фитнес и љубители на теретана да го најдат совршениот простор за вежбање погоден за нив со само неколку кликања.
            <br />
            <br />

            Оваа веб-апликација ги содржи сите фитнес центри достапни во Скопје, како и информации за секој бизнис.
        </p>
    </div>
    <div>
        <img class="pic1" src="~/Images/hp1.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        @*<h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>