<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ffbe4f6a-dbd7-4569-b0a1-cf9806541025/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/FitnesSkopje</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fitnesskopje.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fitnesskopje.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FitnesSkopje</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FitnesSkopje</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sara\Documents\GitHub\FitnesSkopje\FitnesSkopjeWebApp\FitnesSkopjeWebApp\App_Data\aspnet-FitnesSkopjeWebApp-20211109102850.mdf;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FitnesSkopjeWebApp.Models.ApplicationDbContext, FitnesSkopjeWebApp" MigrationConfiguration="FitnesSkopjeWebApp.Migrations.Configuration, FitnesSkopjeWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sara\Documents\GitHub\FitnesSkopje\FitnesSkopjeWebApp\FitnesSkopjeWebApp\App_Data\aspnet-FitnesSkopjeWebApp-20211109102850.mdf;Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>