@model FitnesSkopjeWebApp.ViewModels.SearchApplicationModels
@{
    Layout = null;
}


<link href="~/Content/Style.css" rel="stylesheet" />

@using (Html.BeginForm(Model.ControllerAction, Model.ControllerName, FormMethod.Post, new { autocomplete = "on" }))
{
    <div class="card vehicles-search">
        @*<div class="card-header">
                Пребарај
            </div>*@
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @*@Html.DisplayNameFor(model => model.GymId)*@
                        @*@Html.DropDownListFor(model => model.GymId, new SelectList(ViewBag.application_types, "Value", "Text"), htmlAttributes: new { @class = "form-control clearsel" })*@
                        @*<h4>Пребарај</h4>*@
                        @Html.HiddenFor(model => model.GymId)
                    </div>

                </div>
                <div class="col">
                    <div class="form-group">
                        @*@Html.DisplayNameFor(model => model.SearchText) DODADENO ID*@
                        @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control clearinput", @id = "txtSearch", placeholder = "Пребарај..." } })
                    </div>

                </div>
            </div>
            <div class="card-footer d-flex text-reset justify-content-end right-float">
                @*<input type="button" value="Избриши филтри" onclick="ClearSearchValues();" class="btn btn-default btn-light clearsearch mr10" />*@
                <a href="@Url.Action("Index","Gyms")" onclick="ClearSearchValues();" class="btn btn-pink clearsearch mr10">Избриши</a>
                <input type="submit" value="Прикажи" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br />
    <br />

    @section Scripts {
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

        <script>
        function ClearSearchValues() {
            $(".clearinput").val("");
            $(".clearsel").val("-1");
        }
        </script>
    }

}

