body {
}

#navigation {
    background-color: white;
    width: 100%;
}

.teg{
    width: 50%;
    height: 50%;
    inset-inline: auto;
}

.logo {
    width: 90%;
    height: 90%;
    margin-top: 2%;
}



.jumbotron h1{
    font-size: 300%;
    text-align: center;
}

.jumbotron{
   flex: 50%;
   width: auto;
   background-color: white;
   position: relative;
   margin-top: 10%;
   
}

.pic1 {
    flex: 50%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.container2in1{
   display: flex;
   position: relative;
}

.navbar-inverse{
    border: 1px solid rgba(255,255,255,.0);
    background-color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(162, 9, 89, 1);
}

.items-nav a {
    text-decoration: none;
    color: p
}

a:hover{
    color: dimgrey;
}