body {
}

#navigation {
    background-color: lightgray;
    width: 100%;
}

.teg{
    width: 50%;
    height: 50%;
    inset-inline: auto;
}

.logo {
    width: 90%;
    height: 90%;
    margin-top: 2%;
}



.jumbotron h1{
    font-size: 300%;
    text-align: center;
}

.jumbotron{
   flex: 50%;
   width: auto;
   background-color: white;
   position: relative;
   margin-top: 10%;
   
}

.pic1 {
    flex: 50%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.container2in1{
   display: flex;
   position: relative;
}

.navbar-inverse{
    border: 1px solid rgba(255,255,255,.0);
    background-color: lightgray;
}

    .navbar-inverse .navbar-nav > li > a {
        color: rgba(162, 9, 89, 1);
       
    }

h4, .h4 {
    font-family: 'Times New Roman';
}

.table{
    max-width: 60%;
    max-height: 60%;
    align-self:center;
    padding: 6%; 
}
#tablefav {
    align-self: center;
    padding: 6%;
}

.table thead {
    /*background-color: rgba(90, 73, 90, .8);*/
    /*background-color: rgba(15, 47, 230, 1);*/
    background-color: grey;
}

h2{
    color: rgba(41,61,144,1);
}

.table tbody {
    background-color: whitesmoke;
}
th{
 text-align: center;
}
th {
    border-bottom: 1px solid groove;
    border-block-color: gray;
    border-radius: 15px 15px 15px 15px;
   
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(41,61,144,1);
}

#clearFilterButton {
    background-color: rgb(89 152 26 / 0.89);
    color: white;
}

#clearFilterButton:hover {
    background-color: #59981A;
}

.btn-primary {
    background-color: rgba(41,61,144,1);
}

.btn-primary:hover {
    background-color: rgb(35 52 122);
}

#detailsContainer {
    color: dimgrey;
    width: 1000px;
    height: 700px;
    border: 1px solid black;
}

#detailsName {
    color: rgba(41,61,144,1);
}

.dl-horizontal {
    
}
td {
    color: rgba(41,61,144,1);
    border-radius: 10px 10px 10px 10px;
}
/*kako da go napraam kako container pogolemo??
*/
.table-container {
    background-color: lightgray;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 100%;
   
}

